body{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow:hidden;
}




#map {
    padding: 0;
    margin: 0;
    height: 100vh;
    position: static;
  }
.img{
      height: 90px;
      width: 90px;
  }
.close{
    margin-right: 4px;
}


#hotelInfoPopup{
    display: none;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;

}



.results{
        height: 70vh;
        overflow-y: scroll;
        overflow-x:hidden;
}